/* stop the rows from going off the page and adding a horizontal scroll */
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.sr-only {
    display: none;
}

.main-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h2 {
    font-family: roc-grotesk, Helvetica, Arial, Roboto, sans-serif;
    font-weight: bold !important;
}

h3 {
    font-family: swear-display, Arial, Helvetica, Roboto, sans-serif;
}

h2 {
    text-align: center;
    color: white !important;
    background-color: #0a1c32;
    padding: 10px;
}

p,
a {
    font-family: roc-grotesk, Helvetica, Arial, Roboto, sans-serif;
}

/* headers */
.stats-header {
    padding: 30px;
    text-align: center;
    color: white;
    background: #0a1c32;
    margin-bottom: 30px;
}

/* Today/Past Game Styles */
.past-games,
.todays-games {
    text-align: center;
}

span.game-title {
    font-weight: bold;
    font-size: 20px;
}

.badge-Scheduled {
    background: #6c757d;
}

.badge-info {
    background: #17a2b8;
}

.badge {
    vertical-align: text-bottom !important;
    padding: 5px 10px 3px 10px !important;
}

.game-score.badge.badge-info {
    margin-right: 5px;
}

/* Leaderboard Styles */

.leaderboard {
    justify-content: center;
}

.leaderboard-player-wrapper {
    margin-bottom: 30px;
    padding: 10px 10px 0 10px;
    position: relative;
}

.leaderboard-player-inner {
    background: #0C233F;
    background: linear-gradient(160deg, rgba(12, 35, 63, 1) 29%, rgba(118, 184, 67, 1) 100%);
    padding: 10px 10px 0 10px;
}

.leaderboard h3,
.leaderboard p,
.leaderboard a {
    color: white;
    text-align: center;
}

.leaderboard a {
    display: block;
    margin-bottom: 20px
}

/* Lynx Roster styles */

.player-number {
    position: absolute;
    bottom: 8px;
    right: 25px;
    font-size: 3em;
    color: white;
}

/* Individual Gamelog stats styles */
tbody, td, tfoot, th, thead, tr {
    padding: 4px;
}