<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/aqd8lcf.css">
    <link rel="shortcut icon" href="https://stats.wnba.com/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed" rel="stylesheet">
    <title>Lynx Fan Dashboard</title>
</head>

<body>
    <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Minnesota Lynx Fan Dashboard"
        class="img-fluid">
    <h1 class="sr-only">Lynx Fan Dashboard</h1>

    <div class="container main-container">
        <div class="row">
            <div class="col-md-6 col-12 todays-games">
                <h2>Today's WNBA Games</h2>
                <p><i>All times are in Central time</i></p>

                {% for game in games %}
                <p>
                    <span class="game-title">{{ game.teams.away.name }} at {{ game.teams.home.name }} </span> <span class="game-status badge badge-{{game.status}}"> {{game.status}}</span> <br>
                    <span class="game-date">{{ game.venue.name }} on {{ game.readable_date }}</span> <br>
                    <span class="recent-score">{{ game.score_display }}</span>
                </p>
                {% endfor %}
            </div>

            <div class="col-md-6 col-12 past-games">
                <h2>Recent WNBA Games</h2>
                <p><i>All times are in Central time</i></p>

                {% for game in recent_games %}
                <p>
                    <span class="game-score badge badge-info">{{ game.scores.total.away.points }} </span><span class="game-title">{{ game.teams.away.name }} at {{ game.teams.home.name }} </span><span class="game-score badge badge-info">{{ game.scores.total.home.points }}</span><br>
                    <span class="game-date"> {{ game.readable_date }}</span> <br>
                </p>
                {% endfor %}
            </div>
        </div>

        <!-- <div class="col-md-6 col-12 daily-scores">

              {% for game in todays_games %}
                <p>
                    <span class="game-title">{{ game.teams.away.name }} at {{ game.teams.home.name }} </span> <span class="game-status badge badge-{{game.status}}"> {{game.status}}</span> <br>
                    <span class="game-date">{{ game.venue.name }} on {{ game.readable_date }}</span> <br>
                    <span class="recent-score">{{ game.score_display }}</span>
                </p>
                {% endfor %}

        </div> -->


        <div class="row leaderboard">
            <h2>Lynx Leaderboard</h2>
            {% for player in top_lynx_players %}
            <div class="col-md-4 col-12 leaderboard-player-wrapper">
                <div class="leaderboard-player-inner">
                    <h3>{{ player.name }}</h3>
                    <p>{{ player.stats.average.points | round(1) }} PPG </p>
                    <a href="{{ url_for('player_gamelog', player_id=player.id) }}">More Stats</a>
                    <img src="{{ player.headshot }}" alt="{{ player.name }} headshot" class="img-fluid player-headshot">
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="justify-content-center d-flex"><a href="{{ url_for('lynx_roster') }}" class="btn btn-success">See full roster</a></div>

    </div>
</body>

</html>