<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/aqd8lcf.css">
    <link rel="shortcut icon" href="https://stats.wnba.com/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed" rel="stylesheet">
    <title>Lynx Fan Dashboard</title>
</head>

<body>
    <a href="{{ url_for('show_games') }}"> <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Minnesota Lynx Fan Dashboard"
        class="img-fluid"> </a>
    <div class="stats-header">
        <h1>Minnesota Lynx Roster</h1>
    </div>
    <div class="container">
        <div class="row leaderboard">
            {% for player in roster %}
            <div class="col-md-4 col-12 leaderboard-player-wrapper">
                <div class="leaderboard-player-inner">
                    <h3>{{ player.name }}</h3>
                    <p>{{ player.stats.average.points | round(1) }} PPG </p>
                    <a href="{{ url_for('player_gamelog', player_id=player.id) }}">
                    <img src="{{ player.headshot }}" alt="{{ player.name }} headshot" class="img-fluid player-headshot"></a>
                </div>
                <div class="player-number">{{ player.number }}</div>
            </div>
            {% endfor %}
        </div>

    </div>

</body>

</html>