<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/aqd8lcf.css">
    <link rel="shortcut icon" href="https://stats.wnba.com/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lynx Fan Dashboard</title>
</head>

<body>
    <a href="{{ url_for('show_games') }}"> <img src="{{ url_for('static', filename='images/banner.png') }}"
            alt="Minnesota Lynx Fan Dashboard" class="img-fluid"> </a>
    <div class="stats-header">
        <h1>Stats for {{ player.name }}</h1>
    </div>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-8 col-12">
                <p><i>Note: due to API limitations, only a portion of this player's games may appear.</i></p>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Opponent</th>
                        <th>Points</th>
                        <th>Rebounds</th>
                        <th>Assists</th>
                    </tr>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.readable_date }}</td>
                        <td>{{ game.teams.away.name }} vs {{ game.teams.home.name }}</td>
                        <td>{{ game.stats.points }}</td>
                        <td>{{ game.stats.rebounds }}</td>
                        <td>{{ game.stats.assists }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4 col-12">
                <img src="{{ player.headshot }}" alt="{{ player.name }} headshot" class="img-fluid player-headshot">
            </div>
        </div>
    </div>
</body>

</html>